

/* ----------------- color theme -------------------------- */

:root {
  --background-color: #f8f8f8;
  --font-color: black;
  --button-color: #dde;
  --hover-color: #cab;
  --active-color: #cbc;
}

:root[theme='dark'] {
  --background-color: #222;
  --font-color: #ccc;
  --button-color: #bac;
  --hover-color: #cbd;
  --active-color: #cbc;
}

.themeColor {
  color:#A27;
}



/* ------------- general styling -------------------------- */

:root {
  --main-font-size: 14pt;
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 98%;
  position: relative;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
}

.hidden {display: none !important;}

.material-icons {
  font-size: inherit;
  vertical-align: bottom;
}

.flexcol {display:flex;flex-direction:column;gap:1em}
/* .center {justify-content:center;} */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fitcontent {width:fit-content;height:fit-content;}
.w300 {width:300px}

.separator {
  border-bottom: dashed 1px gray;
  width:300px;
}

button {
  cursor: pointer;
  background-color: var(--button-color);
  border-radius: 5px;
  border: none;
  padding: 0.5em 1em;
}
button:hover {
  background-color: var(--hover-color);
}
button:active {
  background-color: var(--active-color);
}
button:disabled {
  background-color: #999;
  cursor: default;
}

button, input, select {
  max-width: 300px;
}

[onclick] {
  cursor: pointer;
}

[contenteditable] {
  background-color: #ccc;
  color: black;
  border: solid 1px gray;
  padding: 2px;
  border-radius: 3px;
}


/* ------------- header and title -------------------------- */

#header {
  display:grid;
  grid-template-columns: 66.667% 33.334%;	
  box-shadow: 0 4px 2px -2px gray;
}

#title {
  font-size: 18pt;font-weight: bold;
}

#user {
  font-size: 15px;
  text-align:right;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#userPhoto {
  height:20px;
  border-radius: 50%;
  vertical-align:bottom;
  padding-right: 3px;
}


/* ------------- main -------------------------- */

fieldset {
  border:none;
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
  width:100%;
  height:100%
}

#main, #enableGoogleDriveDiv {
  padding:0.75em;
  font-size: var(--main-font-size);
  flex: 1;
  overflow-y: auto;
}
#main > div {display:none;}
#main > div:first-child {display:flex;flex-direction:column;gap:1em;height:100%}


/* ------------- specific items -------------------------- */

[name] {
  margin-top: 1.5em;
}
[name]:before {
  position:absolute;
  bottom:calc(100% + 0.5em);
  content:attr(name);
}

#instructors {
  height: 5em;
}

#QRcode, #loading {
  padding: 1em;
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

#loading {
  z-index: 100;
  pointer-events: none;
  background-color: gray;
  opacity: 0.5;
}

#QRcode {
  background-color: white;
}
#QRcode > img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#selfieContainer {
  width: 200px;
  height: 200px;
  min-height: 200px;
  border-radius: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(-1);
}
#selfieUndo {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#attendanceMarked > div:before {
  content: '✔️ ';
}
#attendanceMarked > div[failed]:before {
  content: '❌ ';
}
#attendanceMarked > div[failed]:after {
  content: ' (failed to mark attendance)';
  color: #f45;
}

.sectionCards {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(9em, 1fr) );
  gap: 1em;
}
.sectionCard {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #333;
  padding: 1em;
  text-align: center;
}
.sectionCard>div {
  font-size: 70%;
}
.sectionCard>div:first-child {
  font-size: 90%;
}
.sectionCard:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

/* #addIntructorSection {
  position: absolute;
  top: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  width: fit-content;
  background-color: var(--background-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding:0.5em;
} */

#accessibility {
  position:fixed;
  bottom:0px;
  right:0px;
  padding:2px;
  display:flex;
  flex-direction:column;
  gap:1em;
  background-color: var(--background-color);
  border-radius: 5px;
  opacity:0.5;
}
